<div class="row list">
    <div class="container">
    	<div class="col-md-8 col-md-offset-2">
            <div class="list-group row designRow">
              <p class="list-group-item active toDoList">
                CONTACT US
              </p>
              <div class="col-md-8 col-md-offset-2">
                <form>
                  <div class="form-group">
                    <label for="usr">Fullname : </label>
                    <input type="text" class="form-control" id="usr">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Email : </label>
                    <input type="text" class="form-control" id="mail">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Subject : </label>
                    <input type="text" class="form-control" id="subject">
                  </div>
                  <div class="form-group">
                    <label for="comment">Message : </label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
                 <button type="button" class="btn btn-primary btn-block colorButton">Send</button>
                </form>	
             </div>
          </div>
       </div>
    </div>
</div>