<footer class="footer">
        <div class="container">
          <div class="col-md-6 footerElem"><a href="/chat">Web Chat</a></div>
          <div class="col-md-6 footerElem"><a href="/contact">Contact us</a></div>
        </div>
        <div class="row copyRight">
          <div class="col-md-offset-9 col-md-3">
            <span class="text-muted">© Copyright GLD Inc.</span>
          </div>
        </div>
      </footer>